<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kutuphane.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Kutuphane.Properties.Settings>
            <setting name="DecodeHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="GünlükGecikmeBedeli" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HızlıKitapGirişGünSüresi" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Aktarma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KitapResimGöster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KişiGirişEkranıVarsayılan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YaklaşanİşlemlerGünSayısı" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="QrMultipleBorderThickness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaksimumUzatmaSayısı" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="KişiResimGöster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtomatikTutanak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KişiKitapKritikOran" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SeçiliTts" serializeAs="String">
                <value />
            </setting>
            <setting name="KimlikArkaPlanResim" serializeAs="String">
                <value />
            </setting>
            <setting name="KişiKitapKritikKontrol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KurumAdı" serializeAs="String">
                <value />
            </setting>
            <setting name="KimlikArkaPlanResimŞeffaflık" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResimKüçült" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResimKüçültmeOranı" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="KitapVermeİşGünüSay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TtsReg" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Windows Registry Editor Version 5.00</string>
                        <string />
                        <string>[HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\SPEECH\Voices\Tokens\MSTTS_V110_trTR_Tolga] @="Microsoft Tolga - Turkish (Turkey)" "041f"="Microsoft Tolga - Turkish (Turkey)" "CLSID"="{179F3D56-1B0B-42B2-A962-59B7EF59FE1B}" "LangDataPath"=hex(2):25,00,77,00,69,00,6e,00,64,00,69,00,72,00,25,00,5c,00,53,</string>
                        <string>00,70,00,65,00,65,00,63,00,68,00,5f,00,4f,00,6e,00,65,00,43,00,6f,00,72,00,</string>
                        <string>65,00,5c,00,45,00,6e,00,67,00,69,00,6e,00,65,00,73,00,5c,00,54,00,54,00,53,</string>
                        <string>00,5c,00,74,00,72,00,2d,00,54,00,52,00,5c,00,4d,00,53,00,54,00,54,00,53,00,</string>
                        <string>4c,00,6f,00,63,00,54,00,72,00,54,00,52,00,2e,00,64,00,61,00,74,00,00,00 "VoicePath"=hex(2):25,00,77,00,69,00,6e,00,64,00,69,00,72,00,25,00,5c,00,53,00,</string>
                        <string>70,00,65,00,65,00,63,00,68,00,5f,00,4f,00,6e,00,65,00,43,00,6f,00,72,00,65,</string>
                        <string>00,5c,00,45,00,6e,00,67,00,69,00,6e,00,65,00,73,00,5c,00,54,00,54,00,53,00,</string>
                        <string>5c,00,74,00,72,00,2d,00,54,00,52,00,5c,00,4d,00,31,00,30,00,35,00,35,00,54,</string>
                        <string>00,6f,00,6c,00,67,00,61,00,00,00</string>
                        <string />
                        <string>[HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\SPEECH\Voices\Tokens\MSTTS_V110_trTR_Tolga\Attributes] "Age"="Adult" "DataVersion"="11.0.2016.0129" "Gender"="Male" "Language"="041f" "Name"="Microsoft Tolga" "SayAsSupport"="spell=NativeSupported; alphanumeric=NativeSupported" "SharedPronunciation"="" "Vendor"="Microsoft" "Version"="11.0"</string>
                        <string />
                        <string>[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Speech\Voices\Tokens\MSTTS_V110_trTR_Tolga] @="Microsoft Tolga - Turkish (Turkey)" "041f"="Microsoft Tolga - Turkish (Turkey)" "CLSID"="{179F3D56-1B0B-42B2-A962-59B7EF59FE1B}" "LangDataPath"=hex(2):25,00,77,00,69,00,6e,00,64,00,69,00,72,00,25,00,5c,00,53,</string>
                        <string>00,70,00,65,00,65,00,63,00,68,00,5f,00,4f,00,6e,00,65,00,43,00,6f,00,72,00,</string>
                        <string>65,00,5c,00,45,00,6e,00,67,00,69,00,6e,00,65,00,73,00,5c,00,54,00,54,00,53,</string>
                        <string>00,5c,00,74,00,72,00,2d,00,54,00,52,00,5c,00,4d,00,53,00,54,00,54,00,53,00,</string>
                        <string>4c,00,6f,00,63,00,54,00,72,00,54,00,52,00,2e,00,64,00,61,00,74,00,00,00 "VoicePath"=hex(2):25,00,77,00,69,00,6e,00,64,00,69,00,72,00,25,00,5c,00,53,00,</string>
                        <string>70,00,65,00,65,00,63,00,68,00,5f,00,4f,00,6e,00,65,00,43,00,6f,00,72,00,65,</string>
                        <string>00,5c,00,45,00,6e,00,67,00,69,00,6e,00,65,00,73,00,5c,00,54,00,54,00,53,00,</string>
                        <string>5c,00,74,00,72,00,2d,00,54,00,52,00,5c,00,4d,00,31,00,30,00,35,00,35,00,54,</string>
                        <string>00,6f,00,6c,00,67,00,61,00,00,00</string>
                        <string />
                        <string>[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Speech\Voices\Tokens\MSTTS_V110_trTR_Tolga\Attributes] "Age"="Adult" "DataVersion"="11.0.2016.0129" "Gender"="Male" "Language"="041f" "Name"="Microsoft Tolga" "SayAsSupport"="spell=NativeSupported; alphanumeric=NativeSupported" "SharedPronunciation"="" "Vendor"="Microsoft" "Version"="11.0"</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Kutuphane.Properties.Settings>
    </userSettings>
</configuration>